"C:\Users\firat\Desktop\yazilim_muhendisligi\Java Çalışma Alanı\bulmaca-oyunu-main\src\test.class"
"C:\Users\firat\Desktop\yazilim_muhendisligi\Java Çalışma Alanı\bulmaca-oyunu-main\src\kartlar.class"
"C:\Users\firat\Desktop\yazilim_muhendisligi\Java Çalışma Alanı\bulmaca-oyunu-main\src\Main.class"
